body {
    font-family: 'Poppins',
        sans-serif;
}

/* header section start */
.container {
    display: flex;
    justify-content: space-between;
    background-color: #2d25a0;
    width: 100%;
    margin-bottom: 70px;
}

.header-text {
    width: 485px;
    height: 230px;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;
}

.header-text h1 {
    color: #fff;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
    width: 485px;
    height: 230px;
}


.header-text .live-vedio {
    width: 168px;
    height: 44px;
    background: #E02C6D;
    text-align: center;

}

.live-vedio {
    margin-top: px;
}

.live-vedio a {
    text-decoration: none;
    color: #fff;
    top: 25%;
    position: relative;

}

/* images animation Sratr */
.header-banner .header-images {
    animation: 5s infinite running;
    animation-name: slidein;

}

@keyframes slidein {
    0% {
        margin-left: 10%;
        width: 0%;
    }

    100% {
        margin-left: 65%;
        width: 55%;
    }
}

.header-banner {
    margin-top: 135px;
    margin-right: 147px;
}

.header-banner img {
    width: 556px;
    height: 434px;
}

/* images animation End */


/* header section End */





/* main section start */


/* player information start */

.player-info {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;

}

.player-info .player {
    width: 330px;
    height: 474px;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    text-align: start;
    margin-bottom: 27px;
}

.player h1 {
    margin: 16px 0px 10px 0px;
}

.player h1,
p {
    padding: 0px 15px;
}

.player img {
    width: 300px;
    height: 256px;
    padding: 15px;
}

/* player information end*/

/* clabe infromation sratr */
.clabe-info {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px auto;


}

.clabe-info .images-text {
    width: 330px;
    height: 474px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.clabe-img img {
    width: 100%;
    height: 50%;
    border-radius: 40%;
}

.img1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 330px;
    height: 474px;
}

.move {
    width: 330px;
    height: 474px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.move {
    color: white;
}

.move i {
    font-size: 45px;
    padding: 10px 5px;
}

.move h2 {
    font-size: 30px;
    color: darkolivegreen;
    background-color: darksalmon;
    border-radius: 2px solid green;
    margin: 0px 20px;

}

.images-text:hover .img1 {
    opacity: 0.5;
}

.images-text:hover .move {
    opacity: 1;
}

/* clabe infromation End */


/* email section start */
.email-text {
    text-align: center;
}

.email-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: indianred;
    margin: 0;
}

.email-text p {
    font-size: 20px;
    font-weight: 700;
    color: olivedrab;
}

.email-text input {
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    width: 500px;
}

.email-text button {
    font-size: 20px;
    font-weight: 700;
    height: 55px;
    padding: 0 20px;
    background-color: greenyellow;
}

/* email section End */
/* main section End */


/* footer section start */
.footer-section {
    text-align: center;
}

.footer-logo img {
    margin: 40px 0 20px 0;
    width: 483.87px;
    height: 110px;
}

.footer-logo .socail-icon {
    display: flex;
    text-align: center;
    justify-content: center;
}

.socail-icon ul {
    display: inline-flex;
}

.socail-icon ul li {
    list-style: none;
    margin-right: 14px;

}

.socail-icon ul li a i {
    text-decoration: none;
    background: #0B0D17;
    opacity: 0.2;
    border-radius: 50%;
    font-size: 18px;
    color: #969BAB;
    width: 32px;
    height: 32px;
    padding: 7px;
}

.socail-icon ul li a {
    color: white;
    font-size: 50px;
    width: 20px;
    height: 10px;
    margin: auto;
}

.socail-icon ul li a i {
    margin: auto;
    justify-content: center;
    align-items: center;
    top: 50%;
    bottom: 50%;
    padding: 8px;
    margin-bottom: 20px;
}

.copy-right {
    margin-top: 4px;
    font-size: 18px;
    line-height: 24px;
}

/* footer section End */



/* Responsive Website Degain Labtop  */

@media screen and (max-width: 992px) {

    .container {
        display: flex;
        justify-content: space-between;
        background-color: #2d25a0;
        margin-bottom: 70px;
        flex-direction: column;
        width: 100%;
    }

    .header-text {
        width: 274px;
        height: 200px;
        margin-left: 16px;
        margin-top: 112px;
        margin-right: 70px;
    }

    .header-text h1 {
        color: #fff;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 27px;
        width: 274px;
        height: 200px;
    }

    .live-vedio {
        margin-bottom: 50px;
    }

    .header-banner {
        margin-top: 0px;
        margin-right: 16px;
        margin-bottom: 61.81px;
        margin-left: 15px;
        width: 329px;
        height: 259px;
        padding-bottom: 160px;
    }

    .player-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }

    .player-info .player {
        width: 330px;
        height: 474px;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        margin-bottom: 27px;
    }

    .clabe-info {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px auto;
        padding-left: 230px;
    }

}

/* Responsive Website Degain Mobile  */

@media screen and (max-width:688px) {
    .container {
        display: flex;
        justify-content: space-between;
        background-color: #2d25a0;
        margin-bottom: 70px;
        flex-direction: column;
        width: 100%;
    }

    .header-text {
        width: 274px;
        height: 200px;
        margin-left: 16px;
        margin-top: 112px;
        margin-right: 70px;
    }

    .header-text h1 {
        color: #fff;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 27px;
        width: 274px;
        height: 200px;
    }

    .live-vedio {
        margin-bottom: 50px;
    }

    .header-banner {
        margin-top: 0px;
        margin-right: 16px;
        margin-bottom: 61.81px;
        margin-left: 15px;
        width: 329px;
        height: 259px;
        padding-bottom: 160px;
    }

    .player-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .player-info .player {
        width: 330px;
        height: 474px;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        margin-bottom: 27px;
    }

    .clabe-info {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px auto;
        padding-left: 230px;
    }

}